[Desktop Entry]
Version=1.0
Icon=medusa-emu
Exec=medusa-emu-qt %f
Terminal=false
Type=Application
Name=medusa-emu
GenericName=DS/Game Boy Advance/Game Boy Emulator
Comment=Nintendo DS/Game Boy Advance/Game Boy Emulator
Categories=Game;Emulator;
MimeType=application/x-gameboy-advance-rom;application/x-agb-rom;application/x-gba-rom;
Keywords=emulator;Nintendo;advance;gba;ds;Game Boy Advance;
